# flyctl launch added from .gitignore
**\.DS_Store
**\api\__pycache__
**\core\__pycache__
**\env
**\.env
**\.vscode
**\src128.svg

# flyctl launch added from env\Lib\site-packages\tests\test_outputs\.gitignore
# This directory contains all the tests outputs.
env\Lib\site-packages\tests\test_outputs\**\*
